.navbar {
  font: 18px "opensans-bold", sans-serif;
  min-height: 48px;
  display: flex;
  align-items: center;
  padding-left: 28px;
}

.nav {
  padding-left: 20px;
}

.nav * {
  font-size: 14px;
  text-align: center;
  margin-left: 12px;
  opacity: 0.8;
}

.mainContentContainer {
  background-color: #fff;
  height: 100vh;
  padding: 48px 20%;
}
